div {
	border: 1px rgba(255, 255, 255, .4);
	height: 500px;
	width: 450px;
}
	
.qb {
	background-image:url('images/html_background.jpg');
	background-repeat:no-repeat;
}

.icon1 {
	width:89px;
	height:115px;
}

.icon2 {
	width:64px;
	height:93px;
}

.icon3 {
	width:176px;
	height:89px;
}

.icon6 {
	width:106px;
	height:119px;
}

.icon9 {
	width:66px;
	height:100px;
}

.icon10 {
	width:120px;
	height:111px;
}

.icon11 {
	width:112px;
	height:180px;
}

.icon12 {
	width:134px;
	height:182px;
}

.icon13 {
	width:100px;
	height:109px;
}

.column {
  	float: left;
	width: 15%;
  	padding: 3px;
}

.column3 {
	float: left;
	width: 12%;
  	padding:3px;
}		

.column4 {
	float: left;
	width: 16%;
	padding: 3px;
}

.column5 {
	float: left;
	width: 8%;
	padding: 3px;
}

.column6 {
	float: left;
	width: 13%;
	padding: 3px;
}

.column7 {
	float: left;
	width: 18%;
	padding: 5px;
}

.column8 {
	float: left;
	width: 20%;
	padding: 3px;
}

.column9 {
	float: left;
	width: 10%;
	padding: 3px;
}

.column13 {
	float: left;
	width: 5%;
	padding: 3px;
}

.row::after {
  	content: "";
  	clear: both;
  	display: table;
}

li, h3 {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:white;
	font-size:95%;
}

.congrats {
	background-image:url('images/congratulations.jpg');
	background-repeat: no-repeat;
}

h1 {
	text-transform:uppercase;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:white;
	text-shadow: 3px 3px black;
	font-size:125;
}

.text {
	font-size:115%;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.firework1 {
	img-float:left;
	height:90px;
	width:90px;
}

.firework2 {
	img-float:right;
	height:90px;
	width:90px;
}

