.hidden {
	border-style: hidden;
	width:375px;
	height:300px;
}
	
.qb {
	background-image:url('images/html_background.jpg');
	background-repeat:no-repeat;
}

.icon1 {
	width:59px;
	height:85px;
}

.icon2 {
	width:50px;
	height:80px;
}

.icon6 {
	width:66px;
	height:79px;
}

.icon9 {
	width:46px;
	height:80px;
}

.icon10 {
	width:80px;
	height:71px;
}

.icon11 {
	width:40px;
	height:110px;
}

.icon12 {
	width:54px;
	height:112px;
}

.icon13 {
	width:70px;
	height:79px;
}

.column {
  	float: left;
	width: 22%;
  	padding: 3px;
}

.column2 {
	float:left;
	width: 14%;
	padding: 3px;
}		

.column4 {
	float: left;
	width: 34%;
	padding: 3px;
}

.column5 {
	float: left;
	width: 22%;
	padding: 3px;
}

.column6 {
	float: left;
	width: 22%;
	padding: 3px;
}

.column7 {
	float: left;
	width: 18%;
	padding: 5px;
}

.column8 {
	float: left;
	width: 22%;
	padding: 3px;
}

.column9 {
	float: left;
	width: 22%;
	padding: 3px;
}

.column13 {
	float: left;
	width: 18%;
	padding: 3px;
}

.row::after {
  	content: "";
  	clear: both;
  	display: table;
}

h3 {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:white;
	font-size:95%;
}

li {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:white;
	font-size:85%;
}

.congrats {
	background-image:url('images/congratulations.jpg');
	background-repeat: no-repeat;
}

h1 {
	text-transform:uppercase;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:white;
	text-shadow: 3px 3px black;
	font-size:85%;
	
}

.text {
	font-size:75%;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.firework1 {
	img-float:left;
	height:50px;
	width:50px;
}

.firework2 {
	img-float:right;
	height:50px;
	width:50px;
}

 
